<!-- Card -->
<div class="card promoting-card">

  <!-- Card content -->
  <div class="card-body d-flex flex-row">

    <!-- Avatar -->
    <!-- <img src="{{user.photoUrl || '../../../../../assets/user.png'" class="rounded-circle mr-3" height="50px"
      width="50px" alt="{{user.knownAs}}"> -->

    <!-- Content -->
    <div>

      <!-- Title -->
      <h4 class="card-title font-weight-bold mb-2">{{user.knownAs}}</h4>
      <!-- Subtitle -->
      <p class="card-text">Age : {{user.age}}</p>

    </div>

  </div>

  <!-- Card image -->
  <div class="view overlay">
    <img class="card-img-top rounded-0" src="{{user.photoUrl || '../../../../../assets/user.png'}}"
      alt="Card image cap">
    <a href="#!">
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <!-- Card content -->
  <div class="card-body">

    <div class="collapse-content">

      <!-- Text -->
      <p class="card-text collapse" id="collapseContent">{{user.city}}</p>
      <!-- Button -->
      <a class="btn btn-flat red-text p-1 my-1 mr-0 mml-1 collapsed" data-toggle="collapse" href="#collapseContent"
        aria-expanded="false" aria-controls="collapseContent"></a>
        
      <i class="fas fa fa-envelope text-muted float-right p-1 my-2" [routerLink] ="['/member-detail/',user.id]" [queryParams]="{tab:3}" data-toggle="tooltip" data-placement="top"
        title="Messages for this User"></i>
      <i class="fas fa-heart text-muted float-right p-1 my-1 mr-2" (click) ="sendLike(user.id)" data-toggle="tooltip" data-placement="top"
        title="I like it"></i>
      <i class="fas fa-user-tie text-muted float-right p-1 my-2" [routerLink]="['/member-detail/',user.id]" data-toggle="tooltip" data-placement="top"
        title="User Details"></i>
        

    </div>

  </div>

</div>
<!-- Card -->